@import '@mantine/core/styles.layer.css';

@layer tailwind-base, mantine, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer tailwind-base {
  body {
    @apply antialiased;
  }
}
